doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Oryx Desert Salt
    meta(name="description", content="Oryx Desert Salt")
    meta(name="author", content="Joss")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css" )
    link(rel="icon", href="oryx_assets/favicon.ico")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
  body
    .navigation-container
      .brand
      ul#nav-items
        li
          a.regular(href="#") About
        li
          a.regular(href="#") Stockists
        li
          a.regular(href="#") Blog
        li
          a(href="#").shopCta Shop
    header.background-image
      .logo
    .first-section
      
    div(style="height: 2000px")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="js/functions.js")
